<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "net.nemur.skyldleikur"
        versionCode="10" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>Skyldleikur</name>

    <description>
        Sýndu skyldleikni, leiktu Skyldleikinn.
    </description>

    <author href="http://www.nemur.net" email="nemur@nemur.net">
        Björn Þór Jónsson
    </author>
    
    <feature name="http://api.phonegap.com/1.0/network"/>
    
    <gap:plugin name="GAPlugin" />
    

</widget>